Source: proxmox-mailgateway-api
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 9), perl (>= 5.10.0-19)
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: proxmox-mailgateway-api
Architecture: all
Depends: ${perl:Depends}, libpve-common-perl, libpve-http-server-perl
Description: Proxmox Mailgateway API Server Implementation
 This implements a REST API to configure Proxmox Mailgateway.