Source: proxmox-mailgateway-api
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 9), perl (>= 5.10.0-19), dh-systemd, libdbi-perl, libdbd-pg-perl, postgresql-9.6, proxmox-spamassassin, libnet-server-perl, libfile-sync-perl, libcompress-bzip2-perl, libarchive-zip-perl
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: proxmox-mailgateway-api
Architecture: all
Depends: ${perl:Depends}, libpve-common-perl, libpve-http-server-perl, libauthen-pam-perl, proxmox-mailgateway-gui, libtemplate-perl, fonts-font-awesome, novnc-pve, libfile-readbackwards-perl, libnet-ip-perl, libdbi-perl, libdbd-pg-perl, postgresql-9.6, libmime-tools-perl, shared-mime-info, proxmox-spamassassin, libhtml-parser-perl, libnet-cidr-lite-perl, libnet-ldap-perl, liblockfile-simple-perl, libnet-server-perl, clamav-daemon, libfile-sync-perl, libcompress-bzip2-perl, libarchive-zip-perl
Description: Proxmox Mailgateway API Server Implementation
 This implements a REST API to configure Proxmox Mailgateway.